/*****************************************
 * Header Bar CSS                        *
 *****************************************/

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff4554;
  color: white; 
  height: 64px ;
}

#header-col-1 {
  margin-right: 30px;
  margin-left: 2%;
}

#header-col-1 > button {
  padding: 0;
  border: none;
  text-align: left;
  background-color: inherit;
  color: inherit;
}

#header-col-1 > button:hover {
  cursor: pointer;
}

#header-col-2 {
  margin-right: auto;
}

#header-col-2 > a {
  color: inherit;
}

#header-col-1 > button:active, 
#header-col-2 > a:active {
  color:rgb(245, 245, 245)
}

#header-col-3{
  width: 50%;
}

#header-col-4 {
  margin-left: auto;
  margin-right: 2%;
  height: inherit;
}

#header-col-4 > a{
  display: flex;
  align-items: center;
  height: inherit;
  color: inherit;
}

/* 
All CSS below is part of the responsive design for the header bar 
--------------------------------------------------------------------------------
Any screen that has a pixel width from 0-768 will not show the search bar
(a.k.a header-col-3)
*/
@media (max-width: 768px){
  #header-col-3{
    display: none;
  }
}
/* 
Any screen that has a pixel width from 768-900 will cause the search bar's 
length to shrink from 50% of the total screen width down to only 45% of the 
total screen width. 
*/
@media (max-width: 900px){
  #header-col-3{
    width: 45%;
  }
}

/*****************************************
* Side Bar                               *
*******************************************/
/*
#nav-bar {
  background: #00c3e3;
  display: inline-block;
  height: 92.4%;
  margin-top: 0;
  width: 200px;
  text-align: center;
}

#nav-bar>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  text-align: center;
}

#nav-bar>ul>li {
  height: 60px;
}

#nav-bar>ul>li>a {
  text-align: center;
  color: white;
  font-size: 1.3em;
  text-decoration-style: none;
}

#navbar-logo {
  padding-right: 0.25rem;
}

.nospace {
  padding: 0!important;
  margin: 0!important;
}

.navbar-link {
  appearance: button;
  margin: 0;
  padding: 0;
  width: 100%;
}

.content-center {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#navbar-username {
  margin-right: 0.5rem;
}

#navbar-nintinder {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 100;
}

#navbar-profile {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}*/

/*****************************************
* Main Content Area                       *
*******************************************/

#main-content {
  margin-top: 4.5rem;
  margin-bottom: 0;
}

#sidebar-nav {
  height: 100%vh;
}