/*****************************************
 * Reponsive Design CSS                  *
 *****************************************/
 @media (max-width: 768px){
  #header-col-2{
    margin-left: auto;
    margin-right: auto;
  }

  #header-col-3{
    display: none;
  }

  #header-col-4 {
    margin-left: 35px;
  }

  #header-col-4 > button > span{
    display: none;
  }

  #sidebar{
    width: 100%;
  }

  #sidebar-row-0{
    display: inherit;
  }
}

@media (max-width: 900px){
  #header-col-3{
    width: 45%;
  }
}
/*****************************************
 * Header Bar CSS                        *
 *****************************************/

 #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff4554;
  color: white; 
  height: 64px ;
}

#header-col-1 > button:active, 
#header-col-2 > button:active {
  color:rgb(245, 245, 245)
}

#header-col-1 > button,
#header-col-4 > button {
  padding: 0;
  border: none;
  background-color: inherit;
  color: inherit;
}

#header-col-1 > button:hover,
#header-col-4 > button:hover{
  cursor: pointer;
}

#header-col-1 {
  margin-right: 30px;
  margin-left: 2%;
}

#header-col-1 > button{
  text-align: left;
}

#header-col-2 {
  margin-right: auto;
}

#header-col-2 > a {
  color: inherit;
}

#header-col-3{
  width: 50%;
}

#header-col-4 {
  margin-left: auto;
  margin-right: 2%;
  height: inherit;
}

#header-col-4 > button{
  display: flex;
  align-items: center;
  height: inherit;
  color: inherit;
}

/*****************************************
* Main-Section                           *
*******************************************/
#main-content{
  /* If the height of the header-bar changes, then change the margin-top to match the header-bars height */
  margin-top: 64px;  
}

/*****************************************
* Side Bar                               *
*******************************************/

#sidebar {
  background-color: #b21c2c;
  top: 64px;
}

#sidebar-row-0{
  display: none;
}
