/*****************************************
* Header Bar                             *
*******************************************/

#header {
  width: 100%;
  height: 5%;
  display: table;
  background: coral;
  margin-bottom: 0;
}

#header-logo,
#header-search-bar,
#header-user-info {
  display: table-cell;
  vertical-align: middle;
}

#header-logo,
#header-user-info {
  width: 200px;
}

#header-user-info {
  text-align: right;
}

#user-icon {
  width: 40px;
  display: inline-block;
}

/*****************************************
* Nav Bar                                *
*******************************************/

#nav-bar {
  background: #508cc8;
  display: inline-block;
  height: 92.4%;
  margin-top: 0;
  width: 200px;
  text-align: center;
}

#nav-bar>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  text-align: center;
}

#nav-bar>ul>li {
  height: 60px;
}

#nav-bar>ul>li>a {
  text-align: center;
  color: white;
  font-size: 1.3em;
  text-decoration-style: none;
}

#navbar-logo {
  padding-right: 0.25rem;
}

.nospace {
  padding: 0!important;
  margin: 0!important;
}

.navbar-link {
  appearance: button;
  margin: 0;
  padding: 0;
  width: 100%;
}

.content-center {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#navbar-username {
  margin-right: 0.5rem;
}

#navbar-nintinder {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 100;
}

#navbar-profile {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/*****************************************
* Main Content Area                       *
*******************************************/

#main-content {
  margin-top: 4.5rem;
<<<<<<< HEAD
  margin-bottom: 0;
}

#sidebar-nav {
  height: 100%vh;
=======
>>>>>>> mock/matches
}