/*****************************************
* Profile Page CSS                        *
*******************************************/

.profile-content {
  margin: 1rem;
}

.profile-content-grid {
  overflow-y: auto;
  white-space: nowrap;
}

.left-column {
  margin: 1rem;
}

.profile-game-logo {
  height: 10rem;
  width: 10rem;
  float: left;
}

.profile-game-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-games {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: wrap;
}

#profile-page-pic {
  height: 100%;
  width: 100%;
}

#profile-name-div {
  padding: 1rem;
}

#profile-name {
  font-size: 2rem;
}

#profile-age {
  margin-top: 0px;
}