# ignores all node modules
node_modules/

# ignores visual studio user workspace preferences
.vscode

# ignore .DS_Store file from macOS
.DS_Store

# ignore some python/django jazz
__pycache__
*.pyc

# ignoring databases for now
*.sqlite3