# ignores all node modules
node_modules/

# ignores visual studio user workspace preferences
.vscode

# ignore .DS_Store file from macOS
.DS_Store

# ignore some python/django jazz
tikkachu/**/__pycache__/
*.py[cod]
*$py.class
*.log
local_settings.py