
body > form, body > form > .grid {
  height: 100%;
}

body > form > .grid > .column > a > img {
  width: 400px;
  margin-bottom: 20px;
}

body > form > .grid > .column > .form{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#login-button{
  background-color: #ff4554;
}

#login-message{
  margin-bottom: 20px;
}

@media (min-width: 1080px){
  body > form > .grid > .column > a > img {
    width: 500px;
  }

  body > form > .grid > .column > .form{
    width: 750px;
  }
}

@media (max-width: 768px){
  body > form > .grid > .column > a > img {
    width: 300px;
  }

  body > form > .grid > .column > .form{
    width: 350px;
  }
}