#profile-container{
  position: relative;
}

#profile-container-background{
  position: absolute;
  height: 400px;
  width: 100%;
}

#profile-cover-photo{
  background-image: url('../images/kiminonawa.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
}

#profile-cover-photo-bar{
  height: 50px;
  background-color: #ff4554;
}

#profile-container-foreground{
  position: absolute;
  z-index: 1;
  width: 65%;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 275px;
}

#profile-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile-info > img{
  width: 225px;
  height: 225px;
  border: 5px solid white;
}

#profile-info > div{
  display: block;
  margin-left: 40px;
}

#profile-info > div > div{
  margin-bottom: 10px;
}

#profile-info > div > div > p{
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  margin: 0px;
  color: white;
}

#profile-name{
  font-weight: bold;
  font-size: 1.75em;
}

#profile-meta-data{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

#profile-meta-data > div > p{
  margin-bottom: 5px;
}

#profile-meta-data > div > div > p{
  text-align: center;
}

#info-bar-title-1,
#info-bar-title-2,
#info-bar-title-3{
  margin-top: 20px;
  font-size: 1.105em;
  font-weight: bold;
}

.hoverimage:hover {
    position:absolute;
    resize: 150%;
    display:block;
    z-index:999;
}

/* #profile-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  margin-left: 400px;
}

#profile-info > img{
  width: 200px;
  height: 200px;
  border: 5px solid white;
}

#profile-info > div{
  margin-bottom: 35px;
  margin-left: 15px;
}

#profile-info > div > p{
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  margin: 0px;
  color: white;
}

#profile-name{
  font-weight: bold;
  font-size: 1.75em;
}

#profile-info-bar-container{
  height: 55px;
  margin-top: 0px;
  background: orange;
  color: white;
}

#profile-info-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-left: 290px;
}

#info-bar-title-1,
#info-bar-title-2,
#info-bar-title-3{
  margin-top: 5px;
  font-size: 1.105em;
  font-weight: bold;
}

#profile-info-bar > div > div > p{
  text-align: center;
}

#profile-info-bar > div > p{
  margin-bottom: 5px;
}

#profile-user-info-feed{
  width: 100%;
  margin: 20px;
} */