/*****************************************
 * Header Bar CSS                        *
 *****************************************/

 #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff4554;
  color: white; 
  height: 64px ;
}

#header-col-1 > button,
#header-col-2 > a,
#header-col-4 > button {
  padding: 0;
  border: none;
  background-color: inherit;
  color: inherit;
}

#header-col-1 > button:hover,
#header-col-2 > a:hover,
#header-col-4 > button:hover{
  cursor: pointer;
}

#header-col-1 > button:active {
  color:rgb(245, 245, 245)
}

#header-col-1 {
  margin-right: 35px;
  margin-left: 15px;
}

#header-col-2 {
  margin-right: auto;
}

#header-col-2 > a {
  display: block;
  width: 190px;
  height: inherit;
  padding-top: 4px;
}

#header-col-2 > a > img {
  max-width: 100%;
  max-height: 100%;
}

#header-col-3{
  width: 55%;
}

#header-col-4 {
  margin-left: auto;
  margin-right: 15px;
}

#header-col-4 > button{
  height: 40px;
}

/*****************************************
* Main-Section                           *
*******************************************/
#main-content{
  /* If the height of the header-bar changes, then change the margin-top to match the header-bars height */
  margin-top: 64px;  
}

/*****************************************
* Side Bar                               *
*******************************************/

#sidebar {
  background-color: #b21c2c;
  top: 64px;
}

#sidebar-row-0{
  display: none;
}

/*****************************************
 * Reponsive Design CSS                  *
 *****************************************/

@media (max-width: 1024px){

  #header-col-3{
    width: 47.5%;
  }

}

@media (max-width: 900px){
  #header-col-2{
    width: 100px;
  }
  #header-col-3{
    width: 30%;
  }
  
}

@media (max-width: 800px){
  #header-col-1{
    margin-right: auto;
  }

  #header-col-2{
    width: initial;
    margin-left: auto;
    margin-right: auto;
  }

  #header-col-3{
    display: none;
  }

  #header-col-4 > button > span{
    display: none;
  }

  #sidebar{
    width: 100%;
  }

  #sidebar-row-0{
    display: inherit;
  }
}