{% include "base_generic.html" %} {% block content %} {% load static%}
<div id="main-content" class="ui bottom attached segment  ">

    <div id="content" class="pusher">
        <div class="ui basic segment">
            <center>
                <div class="ui message main">
                    <h1 class="ui icon header">
                        <i class="trophy icon"></i>
                        <div class="content">
                            {{name}}'S ACHIEVEMENTS
                            <div class="sub header">
                                All your trophies and medals, all in one place
                            </div>
                        </div>
                    </h1>
                </div>
            </center>

            {% comment %} <form method="link" action="{% url 'interests_create' %}">
                <a href="{% url 'interests_create' %}">Create Achievement</a>
                </form> {% endcomment %}

            <div class="ui horizontal divider">
                <i class="star outline icon"></i>
            </div>

            <div class="ui horizontal list" style="margin-bottom:50px">
                <h2 style="margin-left:20px;">Completed</h2>
                {% if user_games %}
                    {% for game in user_games %}
                        <div class="item">
                            <div class="ui card" style="max-height: 400px">
                                <div class="image">
                                    <img src="{% static 'images/nintinder_flame.png' %}">
                                </div>
                                <div class="content">
                                    <a class="header">{{game.name}}</a>
                                    <div class="description">
                                        {{game.description}}
                                        {% comment %} {{game.achievement.game.name}} on {{e.achievement.game.platform}} {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <center><h3>Try some of the games below? :-)</h3></center>
                {% endif %}

                
            </div>

            <div class="ui horizontal divider">
                <i class="star outline icon"></i>
            </div>

            <div class="ui horizontal list" style="margin-bottom:50px">
                <h2 style="margin-left:20px;">Incomplete</h2>

                {% if other_games %}
                    {% for game in other_games %}
                        <div class="item">
                            <div class="ui card" style="max-height: 400px">
                                <div class="image">
                                    <img src="{% static 'images/nintinder_flame.png' %}">
                                </div>
                                <div class="content">
                                    <form action="{% url 'add_interest' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ game.pk }}" name='gid' />
                                        <input type="submit" class="header" value="{{game.name}}" />
                                    </form>
                                    <div class="description">
                                        <h6>On {{game.platform}}</h6>
                                        {{game.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <h3>You've got them all!</h3>
                {% endif %}
            </div>
            
        </div>
        <div class="ui horizontal divider">
            <i class="star outline icon"></i>
        </div>
    </div>
</div>
</div>
</body>

{% endblock %}