{% include "base_generic.html" %}
{% block content %}
{% load static %}
<div id="content" class="pusher">
    <div id="main-content" class="pusher">
        <div class="ui basic segment">
            <center>
                <div class="ui message main">
                    <h1 class="ui icon header">
                        <i class="fire icon"></i>
                        <div class="content">
                            Make Your Match
                            <div class="sub header">
                                Pick the gamers you want to make your friends! Don't be mean.
                            </div>
                        </div>
                    </h1>
                </div>
            </center>
        </div>
        <div class="ui basic segment">
            <div class="ui grid">
                <div class="ui center aligned row margin-0">
                    <div class="ui sixteen wide column margin-20" style="margin-top: 16px">
                        {% if people != 0 %}
                            <h1>{{full_name}}, {{ people }} people would like to play you!</h1>
                        {% else %}
                            <h1>Sorry, {{ full_name }}, no matches today. Please check back later!</h1>
                        {% endif %}
                    </div>
                </div>
                <div class="ui row margin-0">
                    <div class="ui eight wide centered column glide">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for e in friends %}
                                    <li class="ui card glide__slide">
                                        <div class="image">
                                            {% with "images/"|add:e.username|add:".jpg" as propic %}
                                                <img src="{% static propic %}">
                                            {% endwith %}
                                        </div>
                                        <div class="content">
                                            <span class="header">{{e.first_name}} {{e.last_name}}</span>
                                            <div class="meta">
                                                {{e.user_name}}
                                            </div>
                                            <div class="description">
                                                <strong>Games</strong>: | {% for game in interests|get_item:e %} {{game}} | {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="glide__arrows" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--prev" data-glide-dir="<">prev</button>
                            <button class="glide__arrow glide__arrow--next" data-glide-dir=">">next</button>
                        </div>
                    </div>

                    
                </div>
                {% if people != 0 %}
                    <form id="matchesForm" action="" method="post" class="ui form row margin-0">
                        {% csrf_token %}
                        <div class="ui field">
                            <select name="Gender">
                                <option value="">Gender</option>
                                <option value="1">Male</option>
                                <option value="0">Female</option>
                            </select>
                        </div>
                        <div class="eight wide right aligned column">
                            <button class="ui primary button" type="submit" name="A" value="Submit A">Add Friend</button>
                        </div>
                        <div class="eight wide left aligned column">
                            <button class="ui negative button" type="submit" name="B" value="Submit B">Ignore</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function move_glide() {
        var gender = $('[name=Gender]');
        var glide = $('.glide');
        console.log(glide.index());
        console.log(gender.val());
    }
    var glide = new Glide(".glide", {
        type: "carousel",
        perView: 2,
        gap: 0,
        focusAt: 'center',
        startAt: 1
    });
    glide.on('run.after', move_glide);
    glide.mount();
</script>
</body>
{% endblock %}