{% include "base_generic.html" %} {% block content %} {% load static%}
<div id="main-content" class="pusher">
    <div class="ui basic segment">
        <center>
            <div class="ui message main">
                <h1 class="ui icon header">
                    <i class="fire icon"></i>
                    <div class="content">
                        Make Your Match
                        <div class="sub header">
                            Pick the gamers you want to make your friends! Don't be mean.
                        </div>
                    </div>
                </h1>
            </div>
        </center>

        <div class="ui grid">
            <div class="ui row margin-20" style="margin-top: 16px">
                <h1>Gaurab, 7 people would like to play you!</h1>
            </div>
            <div class="ui row margin-20">
                <div id="Glide" class="glide">
                    <div class="glide__arrows">
                        <button class="glide__arrow prev" data-glide-dir="<">prev</button>
                        <button class="glide__arrow next" data-glide-dir=">">next</button>
                    </div>

                    <div class="glide__wrapper">
                        <div class="glide__track">
                            <div class="ui card glide__slide">
                                <div class="image">
                                    <img src="{% static 'images/gaben.jpg' %} ">
                                </div>
                                <div class="content">
                                    <span class="header">GabeN</span>
                                    <div class="meta">
                                        Our Lord and Savior
                                    </div>
                                    <div class="description">
                                        <strong>Games</strong>: Half-Life 3, CS:GO
                                    </div>
                                </div>
                            </div>
                            <div class="ui card glide__slide">
                                <div class="image">
                                    <img src="{% static 'images/success.png' %} ">
                                </div>
                                <div class="content">
                                    <span class="header">Success Baby</span>
                                    <div class="meta">
                                        Our Future Lord and Savior
                                    </div>
                                    <div class="description">
                                        <strong>Games</strong>: Hide-and-Seek, Water Pong
                                    </div>
                                </div>
                            </div>
                            <div class="ui card glide__slide">
                                <div class="image">
                                    <img src="{% static 'images/point_of_view.jpg' %}">
                                </div>
                                <div class="content">
                                    <span class="header">Point of View</span>
                                    <div class="meta">
                                        Our Dark Lord and Savior
                                    </div>
                                    <div class="description">
                                        <strong>Games</strong>: Civilization VI, Russian Roulette
                                    </div>
                                </div>
                            </div>
                            <div class="ui card glide__slide">
                                <div class="image">
                                    <img src="{% static 'images/bill.jpg' %}">
                                </div>
                                <div class="content">
                                    <span class="header">Bill</span>
                                    <div class="meta">
                                        Our Favorite Lord and Savior
                                    </div>
                                    <div class="description">
                                        <strong>Games</strong>: Monopoly
                                    </div>
                                </div>
                            </div>
                            <div class="ui card glide__slide">
                                <div class="image">
                                    <img src="{% static 'images/pianist.jpg' %}">
                                </div>
                                <div class="content">
                                    <span class="header">Pianist</span>
                                    <div class="meta">
                                        Someone else's Lord and Savior
                                    </div>
                                    <div class="description">
                                        <strong>Games</strong>: GoldenEye 007, Injustice 2
                                    </div>
                                </div>
                            </div>
                            <div class="ui card glide__slide">
                                <div class="image">
                                    <img src="{% static 'images/potus.jpg' %}">
                                </div>
                                <div class="content">
                                    <span class="header">POTUS</span>
                                    <div class="meta">
                                        50% of the U.S.'s Lord and Savior
                                    </div>
                                    <div class="description">
                                        <strong>Games</strong>: Mario Golf
                                    </div>
                                </div>
                            </div>
                            <div class="ui card glide__slide">
                                <div class="image">
                                    <img src="{% static 'images/nicki.jpg' %}">
                                </div>
                                <div class="content">
                                    <span class="header">Nicki</span>
                                    <div class="meta">
                                        Music's Lord and S- wait a minute...
                                    </div>
                                    <div class="description">
                                        <strong>Games</strong>: Super Smash Bros. Melee, VR Chat, Dance Dance Revolution
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="glide__bullets"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $("#Glide").glide({
        type: "carousel",
        paddings: "200px"
    });
</script>
</body>
{% endblock %}