{% include "base_generic.html" %}
{% block content %}
{% load static%}

<div id="main-content" class="pusher">
  <div class="container">
    <div id="profile-row-0" class="row">
      {% with "images/"|add:user.username|add:".jpg" as propic %}
        <img class="ui avatar image" src="{% static propic %}" alt="profile-image">
      {% endwith %}
      <p>{{user.first_name}} {{user.last_name}}</p>
    </div> 
    <div id="profile-row-1" class="row">
      
    </div> 
    <div id="profile-row-2" class="row">
     
    </div> 
  </div>
</div>

{% endblock %}