{% include "base_generic.html" %}
{% block content %}
{% load static%}
<div id="main-content" class="pusher">
  <div id="profile-container">
    <div id="profile-container-background">
      <div id="profile-cover-photo" class="row">
      </div> 
      <div id="profile-cover-photo-bar" class="row">
      </div> 
    </div>
    <div id="profile-container-foreground">
      <div id="profile-info" class="row">
        {% with "images/"|add:usr.username|add:".jpg" as propic %}
          <img class="ui avatar image" src="{% static propic %}" alt="profile-image">
        {% endwith %}
        <div>
          <div>
            <p id="profile-name">{{usr.first_name}} {{usr.last_name}}</p>
            <p>@{{usr.username}}</p>
          </div>
          <div id="profile-meta-data">
            <div>
              <p id="info-bar-title-1">Friends</p>
              <div><p>{{ userfriends|length }}</p></div>
            </div> 
            <div>
              <p id="info-bar-title-2">Achievements</p>
              <div><p>{{ userachievements|length }}</p></div>
            </div> 
            <div>
              <p id="info-bar-title-3">Games</p>
              <div><p>{{ usergames|length }}</p></div>
            </div> 
          </div>
        </div>
      </div>

<!--         <div class="ui list">
        {% for game in usergames %}
          <div class="item">
          {% with "images/"|add:user.username|add:".jpg" as propic %}
            <img class="ui avatar image" src="{% static propic %}">
            {% endwith %}
            <div class="content">
              <div class="header">{{game.name}}</div>
              <div class="description">{{game.platform}}</div>
            </div>
          </div>
          {% endfor %}
        </div> -->

      <div class="ui list">
        {% for friend in userfriends %}
          <div class="item">
          {% with "images/"|add:friend.username|add:".jpg" as propic %}
            <img class="ui avatar image" src="{% static propic %}">
            {% endwith %}
            <div class="content">
              <div class="header">{{friend.first_name}} {{friend.last_name}}</div>
              <div class="description">{{friend.username}}</div>
            </div>
          </div>
          {% endfor %}
        </div>

      <div class="ui list">
        {% for achiev in userachievements %}
          <div class="item">
          <i class="trophy icon"></i>
            <div class="content">
              <div class="header">{{achiev.name}}</div>
              <div class="description">{{achiev.game}}</div>
            </div>
          </div>
          {% endfor %}
        </div>


      <div class="ui three column grid">
        <div class="floated column">
          <div class="ui segment">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="header">Counter Strike: Global Offensive</div>
                  </div>
                </div>
              </div>
            {% with "images/"|add:usr.username|add:".jpg" as propic %}
            <img class="ui medium image" src="{% static propic %}">
            {% endwith %}
          </div>
          <div class="ui segment">
            {% with "images/"|add:usr.username|add:".jpg" as propic %}
            <img class="ui medium image" src="{% static propic %}">
            {% endwith %}
          </div>
        </div>
      <script>
      $('.ui.dimmer').dimmer({
        on: 'hover'
      });
      </script>
        <div class="floated column">
          <div class="ui segment">
            {% with "images/"|add:usr.username|add:".jpg" as propic %}
            <img class="ui medium image" src="{% static propic %}">
            {% endwith %}
          </div>
          <div class="ui segment">
            {% with "images/"|add:usr.username|add:".jpg" as propic %}
            <img class="ui medium image" src="{% static propic %}">
            {% endwith %}
          </div>
        </div>
        <div class="floated column">
          <div class="ui segment">
            {% with "images/"|add:usr.username|add:".jpg" as propic %}
            <img class="ui medium image" src="{% static propic %}">
            {% endwith %}
          </div>
          <div class="ui segment">
            {% with "images/"|add:usr.username|add:".jpg" as propic %}
            <img class="ui medium image" src="{% static propic %}">
            {% endwith %}
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>
</div>
<!-- <div id="main-content" class="pusher">
  <div class="container">

    <div id="profile-pic-name" class="row">
      {% with "images/"|add:user.username|add:".jpg" as propic %}
        <img class="ui avatar image" src="{% static propic %}" alt="profile-image">
      {% endwith %}
      <div>
        <p id="profile-name">{{user.first_name}} {{user.last_name}}</p>
        <p>@{{user.username}}</p>
      </div>
    </div> 

    <div id="profile-cover-photo" class="row">
    </div> 

    <div id="profile-info-bar-container" class="row">
      <div id="profile-info-bar">
        <div>
          <p id="info-bar-title-1">Friends</p>
          <div><p>100</p></div>
        </div> 
        <div>
          <p id="info-bar-title-2">Achievements</p>
          <div><p>500</p></div>
        </div> 
        <div>
          <p id="info-bar-title-3">Games</p>
          <div><p>20</p></div>
        </div> 
      </div>
    </div>
    
    <div id="profile-user-info-feed" class="row"> 
      <div class="column">
        <div class="row">
          <p>Bio</p>
          <o>Hi guys! My name is Dan and I am a otaku at heart.</o>
        </div>
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>=
</div> -->

{% endblock %}