<div id="main-content" class="pusher">
  <div class="profile-content">
    <div id="profile-content-grid" class="ui grid">
      <div class="row">
        <div class="two wide column">
          <img id="profile-page-pic" src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_face_black_24px.svg"
          alt="profile-image">
        </div>
        <div id="profile-name-div" class="fourteen wide column">
          <div class="ui grid">
            <div class="row">
              <div class="six wide column">
                <h1 id="profile-name">Gaurab Pant</h1>
                <h2 id="profile-age">Age: 20</h2>
                <h3>Location: Norwood, Massachusetts, USA</h3>
                <h3>Looking for: Princess Peach</h3>
              </div>
              <div class="seven wide column">
                <h5 id="profile-title-label">Title:</h5>
                <div id="profile-title">
                  <center>
                    <h1>Master Chief</h1>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>