<div id="main-content" class="pusher">
  <div class="profile-content">
    <div id="profile-content-grid" class="ui grid">
      <div class="row">
        <div class="two wide column">
          <img id="profile-page-pic" src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_face_black_24px.svg"
          alt="profile-image">
        </div>
        <div id="profile-name-div" class="fourteen wide column">
          <div class="ui grid">
            <div class="row">
              <div class="six wide column">
                <h1 id="profile-name">Gaurab Pant</h1>
                <h2 id="profile-age">Age: 20</h2>
                <h3>Location: Norwood, Massachusetts, USA</h3>
                <h3>Looking for: Princess Peach</h3>
              </div>
              <div class="seven wide column">
                <h5 id="profile-title-label">Title:</h5>
                <div id="profile-title">
                  <center>
                    <h1>Master Chief</h1>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column left-column">
            <h1>Games:</h1>
          </div>
          <div class="column left-column profile-games">
            <div class="ui centered cards">
              <div class="card">
                <div class="content">
                  <img class="right floated mini ui image" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/SmashBall.svg" alt="game-logo">
                  <div class="header">Super Smash Bros.</div>
                  <div class="meta">Played 15,000+ times</div>
                  <div class="description">Duke it out!</div>
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <img class="right floated mini ui image" src="https://upload.wikimedia.org/wikipedia/en/5/59/Hearts_Vista_Icon.png" alt="game-logo">
                  <div class="header">Microsoft Hearts</div>
                  <div class="meta">Played like 4 times</div>
                  <div class="description">Since Windows 3.1 until Windows 7</div>
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <img class="right floated mini ui image" src="https://is2-ssl.mzstatic.com/image/thumb/Purple118/v4/11/03/cc/1103cc8d-405c-f9f1-b5f2-da94a75c5de4/AppIcon-1x_U007emarketing-85-220-0-8.png/246x0w.jpg"
                  alt="game-logo">
                  <div class="header">Pokemon Go!</div>
                  <div class="meta">Recently participated in a raid battle.</div>
                  <div class="description">Gotta catch 'em all!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column left-column">
          <a href="achievements.html"><h1>See Achievements</h1></a>
        </div>
      </div>
    </div>
  </div>
</div>