{% include "base_generic.html" %}
{% block content %}
{% load static %}

<body id="logout">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <a href={% url 'login' %}><img src= "{% static 'images/nintinder_white_on_transparent.png' %}"></a>
      <div>
        <div>You have successfully log out. Thanks for <b>Smashing</b> with us.</div>
        <a class="ui fluid large submit button" href={% url 'login' %}><div>Log back in</div></a>
      </div>
    </div>
  </div>
</body>

{% endblock %}
