{% include "base_generic.html" %}
{% block content %}
{% load static%}

<body>
  {% if user.is_authenticated %}
  <div class="ui middle aligned center aligned grid">
      <div class="column">
        <div class="ui image header ">
          <a href={% url 'index' %}>You are already logged in.</a> 
        </div>
      </div>
  </div>
  
  {% else %}
  <form class="ui large form middle aligned center aligned grid" method = "post" action = "{% url 'login' %}">
    {% csrf_token %}
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <a href={% url 'login' %}><img src= "{% static 'images/nintinder_red_on_transparent.png' %}"></a>
        <div id="login-message">
          {% if form.errors %}
            <div class="ui negative message">Wrong password or login.</div>
          {% else %}
            For when you wanna <b>Smash</b>. &trade; &#x1F60F;  
          {% endif %}
        </div>
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              {{form.username}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{form.password }}
            </div>
          </div>
          <button id="login-button" input type = "submit" value = "login" class="ui fluid large submit button">Login</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <div id="login-footer-message" class="row">
          <div class="column">Don't have an account. <a href="{% url 'sign_up' %}">Sign up!</a></div>
          <div class="column"><a href="#">Forgot your password?</a></div>
        </div>
      </div>
    </div>
  </form>
  <footer id="login-footer">&copy; 2018 Nintinder</footer>
  {% endif %}
</body>
{% endblock %}
