{% include "base_generic.html" %}
{% block content %}
{% load static%}

<body>
  <form class="ui large form middle aligned center aligned grid" method="post">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <a href={% url 'login' %}><img src= "{% static 'images/nintinder_red_on_transparent.png' %}"></a>
        <div id="login-message">
          Password Reset
        </div>
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
            <i class="envelope outline icon"></i>
                {% csrf_token %}
                <input class="form-control" type="email" name="email" value="" placeholder="example@gmail.com">
            </div>
          </div>
          <button id="login-button" type = "submit" class="ui fluid large submit button">Send Email</button>
        </div>
      </div>
    </div>
  </form>
  <footer id="login-footer">&copy; 2018 Nintinder</footer>
</body>
{% endblock %}
