{% include "base_generic.html" %}
{% block content %}
{% load static%}

<body>
  <form class="ui large form middle aligned center aligned grid" method="post">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <a href={% url 'login' %}><img src= "{% static 'images/nintinder_red_on_transparent.png' %}"></a>
        {% if validlink %}
        <div id="login-message">
          Change Password
        </div>
        <div class="ui stacked segment">
          <div class="field">
          {% csrf_token %}
            <div class="ui left icon input" style="margin-bottom: 15px">
            <i class="key icon"></i>
            {{ form.new_password1.errors }}
                <input class="form-control" type="password" name="new_password1" value="" placeholder="Enter Password">
            </div>
            <div class="ui left icon input" style="margin-bottom: 15px">
            <i class="key icon"></i>
            {{ form.new_password2.errors }}
                <input class="form-control" type="password" name="new_password2" value="" placeholder="Confirm Password">
            </div>
          <button id="login-button" type = "submit" class="ui fluid large submit button">Submit</button>

  
        {% else %}
        <div id="login-message">
          <p>Sorry, you followed an invalid password reset link.</p>
          <p>This could happen if it had already been used. If this isn't the case please try again <a href="{% url 'password_reset' %}" style="font-weight:bold; color:#ff4554;">Here</a></p>
        </div>
        {% endif %}
      </div>
    </div>
  </form>
  <footer id="login-footer">&copy; 2018 Nintinder</footer>
</body>
{% endblock %}
