{% include "base_generic.html" %}
{% block content %}
{% load static%}

<body>
  <form class="ui large middle aligned center aligned grid">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <a href={% url 'login' %}><img src= "{% static 'images/nintinder_red_on_transparent.png' %}"></a>
        <div id="login-message">
		  <p>
		    Your password has been successfully reset. Please use the button and try logging in below.
		  </p>
        </div>
        <a id="login-button" class="ui large submit button" href={% url 'login' %}><div>Back to Login</div></a>
      </div>
    </div>
  </form>
  <footer id="login-footer">&copy; 2018 Nintinder</footer>
</body>
{% endblock %}
